<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="data/">Data</a></li>
        <ul>
            <li><a href="dataimport/">Data Import</a></li>
            <li><a href="dataexport/">Data Export</a></li>
            <li><a href="dataentry/">Data Entry</a></li>
        </ul>
        <li><a href="#">Optimization</a></li>
        <li><a href="#">Visualization</a></li>
        <li><a href="#">Users</a></li>
    </ul>
    
</body>
</html>